@import '../../node_modules/intl-tel-input/build/css/intlTelInput.css';

.iti__flag {
  background-image: url(../images/flags.png);

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url(../images/flags@2x.png);
  }
}